@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Quicksand:wght@500;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
}

/* styling header */
header.navbar-container {
  width: 100%;
  margin-inline: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #deb887;
  padding-block: 1rem;
  z-index: 999;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

header.navbar-container .logo img {
  width: 150px;
}

header.navbar-container .nav-list ul {
  padding-left: 0;
  display: flex;
  justify-content: center;
  gap: 2rem 1 rem;
}

header.navbar-container .nav-list li {
  list-style-type: none;
}

header.navbar-container .nav-list li a {
  text-decoration: none;
  font-size: 1.05rem;
  font-weight: 700;
  color: black;
  padding: 0.5rem 1.5rem;
  transition: all 0.2s ease-in-out;
}

header.navbar-container .nav-list li:hover a {
  border-bottom: 4px solid #ca7b42;
  font-weight: 900;
  cursor: pointer;
}

.contact a {
  margin-left: 10px;
  background-color: #a4692d;
  color: white !important;
}

header.navbar-container .nav-list li .contact:hover a {
  background-color: #a4692d;
  color: black !important;
}
/* end styling header */

/* styling content */
main {
  width: 100%;
  display: flex;
  margin-inline: auto;
  flex: 1;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

/* first content styling */
#first-content {
  min-height: 80vh;
  flex-direction: row;
  /* max-width: 1200px; */
  background-image: linear-gradient(#deb887, #ffffff);
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* padding: 100px 100px 50px 100px; */
  margin-bottom: 100px;
}

#first-content .content-description {
  padding-right: 150px;
  flex: 1 1;
}

#first-content .content-description p {
  line-height: 1.7rem;
  font-size: 1.2rem;
}

#first-content .content-image {
  flex: 1;
  display: flex;
}

#first-content .content-image img {
  margin: auto;
  min-width: 250px;
  width: 500px;
  height: auto;
}

.contact-us {
  background-color: #a4692d;
  border: none;
  color: white;
  font-weight: 600;
  padding: 10px 20px;
  text-align: center;
  border-radius: 30px;
  font-size: 16px;
}

.contact:hover a,
#first-content .content-description button:hover {
  border: none;
  background-color: #be9a76 !important;
  color: rgb(61, 61, 61) !important;
  cursor: pointer;
}
/* end first content styling */

/* second content styling */
#produk, #contacts {
  padding-top: 100px;
}

#second-content {
  width: 100%;
  min-height: 40vh;
  display: flex;
  flex-direction: row;
  /* justify-content: space-around; */
  background-image: linear-gradient(#ffffff, #deb887);
  flex: 1;
  align-items: center;
  justify-content: center;
  padding: 100px 50px 150px 50px;
  flex-wrap: wrap;
  gap: 20px;
}

.cards {
  background-color: #fff5ea;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 10px;
  max-width: 300px;
}

.cards img {
  width: 250px;
  height: 200px;
  padding: 20px;
}

.cards:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.cards-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2px 16px;
}
/* end second content styling */

/* third content styling */
#third-content {
  width: 100%;
  min-height: 40vh;
  display: flex;
  flex-direction: row;
  /* justify-content: space-around; */
  background-image: linear-gradient(#deb887, #ffffff);
  flex: 1;
  align-items: center;
  justify-content: center;
  padding: 100px 50px 150px 50px;
  flex-wrap: wrap;
}

#third-content .descriptions {
  display: flex;
  flex-direction: row;
  padding: 0px 150px 0px 300px;
}

#third-content .descriptions .right-description {
  display: flex;
  padding: 0px 100px 0px 50px;
}

.third-content-cards {
  width: 70%;
  padding: 100px 0px 0px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap !important;
  align-items: center;
  gap: 20px;
}

.box {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 10px;
  width: 250px;
  padding: 20px 0px;
}

.box-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2px 16px;
}

.box-container h3 {
  font-weight: 400;
}

.box i {
  padding-top: 30px;
  font-size: 30px;
}

/* third content end styling */

/* fourth content styling */
#fourth-content {
  width: 100%;
  min-height: 40vh;
  display: flex;
  background-image: linear-gradient(#ffffff, #deb887);
  flex: 1;
  align-items: flex-start;
  justify-content: center;
  padding: 100px 250px 150px 250px;
  flex-direction: row;
}

#fourth-content .right-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0px 100px 0px 50px;
}

#fourth-content .left-content {
  width: 60%;
  display: flex;
  justify-content: center;
}

#fourth-content .left-content .location-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #fff5ea;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 10px;
  padding: 15px;
  border-radius: 10px;
  width: 100%;
}

.icon-text {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icon-text i {
  font-size: 20px;
  margin-right: 10px;
}

.alamat-lokasi p, .email-contact p, .whatsapp-contact p{
  margin: 0px;
}

/* end fourth content styling */


/* aside content styling */
aside {
  background-image: linear-gradient(#deb887, #F0E0CA);
  width: 100%;
  display: flex;
  margin-inline: auto;
  flex: 1;
  align-items: center;
  flex-direction: column;
  padding: 100px 50px;
}

#testimonies .testimoni-cards {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: center;
  background-color: #fff5ea;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 15px;
  margin: 0px 10px;
  max-width: 400px;
}

aside h1{
  font-weight: bold;
  margin-bottom: 50px;
}

#testimonies{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#testimonies .testimoni-cards img {
  max-width: 200px;
  height: 160px;
  padding: 20px;
  border-radius: 999px;
}

#testimonies .testimoni-cards:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

#testimonies .testimoni-cards .cards-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 2px 16px;
}

#testimonies .testimoni-cards .cards-container h4{
  margin-bottom: unset;
}

#testimonies .testimoni-cards .cards-container i{
    font-size: small;
    margin-top: 0.33em;
    margin-bottom: 1.33em;
}

#testimonies .testimoni-cards .cards-container p{
  margin-top: unset;
}

/* end aside content styling */


/* end styling content */

/* footer styling */
footer {
  background-color: #F0E0CA;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.footer-left,
.footer-right {
  display: flex;
  align-items: center;
}

footer .footer-left img {
  width: 50px;
  margin-right: 10px;
}

footer .footer-left p,
footer .footer-right p {
  font-size: small;
}
/* end footer styling */

/* responsive styling untuk mobile */

@media screen and (max-width: 768px) {
  #produk, #contacts {
    padding-top: 170px;
  }

  header.navbar-container {
    flex-direction: column;
  }

  header.navbar-container .nav-list ul {
    list-style: none;
    flex-wrap: wrap;
    column-gap: 0.5rem;
  }

  header.navbar-container .nav-list ul li {
    display: inline-flex;
    position: relative;
  }

  #first-content {
    flex-direction: column;
    padding-top: 20px;
    gap: 2rem;
  }

  #first-content .content-description .title {
    font-size: 3rem;
  }

  #first-content .content-description p {
    font-size: 1rem;
  }

  #first-content .content-image {
    order: -1;
  }

  #first-content .content-image img {
    margin: auto;
    min-width: 50px;
    width: 350px;
    height: auto;
  }

  #first-content .content-description {
    padding: 30px;
  }

  #third-content .descriptions {
    padding: 0px 30px !important;
  }

  #third-content .third-content-cards {
    padding: unset;
    width: 100%;
    justify-content: center;
  }

  #third-content .third-content-cards .box {
    width: 150px;
  }

  #third-content .third-content-cards .card-lemari {
    margin-top: 10px !important;
  }

  footer .footer-left img {
    width: 50px;
    margin-right: 10px;
  }

  footer .footer-left p,
  footer .footer-right p {
    font-size: 10px;
  }

  #fourth-content {
    padding: 40px !important;
  }

  #fourth-content .left-content{
    width: 100% !important;
  }

  #testimonies .testimoni-cards {
    max-width: unset;
    width: 90% !important;
  }
}
/* end styling reposnsif mobile */



@media screen and (max-width: 1059px) {

  #third-content {
    flex-direction: column;
    gap: 2rem;
  }

  #third-content .descriptions {
    padding: 0px 200px;
    flex-direction: column;
    gap: 2rem;
  }

  #third-content .descriptions .right-description {
    display: flex;
    padding: unset;
  }

  #third-content .third-content-cards .box {
    width: 150px;
  }

  #fourth-content {
    align-items: center;
    flex-direction: column;
  }

  #fourth-content .right-content{
    align-items: center;
    padding: 30px 0px;
  }

  #fourth-content .right-content *{
    align-items: center;
  }

  .alamat-lokasi p, .email-contact p, .whatsapp-contact p{
    text-align: center;
  }

  aside{
    padding-top: 50px;
  }

  #testimonies{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
    align-items: center;
  }

  #testimonies .testimoni-cards {
    max-width: unset;
    width: 70%;
  }
}



@media screen and (max-width: 1379px) {
  #first-content .content-description {
    padding-right: 10px;
  }

  #third-content .descriptions {
    padding: 0px 100px;
  }

  #fourth-content  {
    padding: 100px;
  }

  #fourth-content .left-content {
    width: 80%;
    display: flex;
    justify-content: center;
  }
}
